php_flag display_errors off
Options +FollowSymLinks
DirectoryIndex index.php
<IfModule mod_php5.c>
	php_value short_open_tag 1
</IfModule>
php_flag short_open_tag on

RewriteEngine On

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l

# otherwise forward it to index.php
RewriteRule .* index.php [L]